[submodule "core"]
	path = core
	url = https://github.com/ManualDoVestibulando/core
[submodule "data"]
	path = data
	url = https://github.com/ManualDoVestibulando/data
[submodule "lambda"]
	path = lambda
	url = https://github.com/ManualDoVestibulando/lambda
[submodule "dataprovider"]
	path = dataprovider
	url = https://github.com/ManualDoVestibulando/dataprovider
[submodule "site"]
	path = site
	url = https://github.com/ManualDoVestibulando/site
